.shopList {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 50px auto;
}

button {
    font-size: 30px;
    width: 30px;
    margin: 0 50px;
    padding: 30px;
}